name: ci-sonarcloud

on:
  pull_request:
    branches:
      - develop

jobs:
  sonarqube:
    name: SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          cache: false

      - name: Run tests with coverage
        run: go test ./... -coverprofile=coverage.out

      - name: Check coverage file
        run: ls -lh coverage.out

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
